[submodule "3rdparty/Livox-SDK2"]
	path = 3rdparty/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git

[submodule "3rdparty/livox_ros_driver2/src/livox_ros_driver2"]
	path = 3rdparty/livox_ros_driver2/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
    
[submodule "3rdparty/Sophus"]
	path = 3rdparty/Sophus
	url = https://github.com/strasdat/Sophus.git
