[submodule "thirdparty/Livox-SDK2"]
	path = thirdparty/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git

[submodule "thirdparty/livox_ros_driver/livox_ros_driver2/src"]
	path = thirdparty/livox_ros_driver2/livox_ros_driver2/src
	url = https://github.com/Livox-SDK/livox_ros_driver2.git

[submodule "thirdparty/Sophus"]
    path = thirdparty/Sophus
    url = https://github.com/strasdat/Sophus.git
    branch = 1.22.10
