[submodule "thirdparty/Livox-SDK2"]
	path = thirdparty/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git

[submodule "thirdparty/livox_ros_driver2"]
	path = thirdparty/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
